
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
}
a {
  color: #4183C4;
  text-decoration: 'none';
}

img[alt=linkedin] { width: 100px; }

.icon {
  width: 10px;
  height: 10px;
}
